a:focus{
  outline: none;
}
.menu_desktop img {
  width: 85px; }
.menu_desktop .navbar {
  padding: 0;}
.menu_desktop .navbar-nav {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .menu_desktop .navbar-nav .nav-item {
    padding: 0 10px;}
  .menu_desktop .navbar-nav .nav-item .nav-link {
    font-size: 15px;
    font-weight: 700;
    color: #696467;
    font-style: normal;
    text-transform: uppercase; }
    .menu_desktop .navbar-nav .nav-item .nav-link:hover {
      color: #ff4081;
      border: 1px solid #fff;
      background-color: #fff;
      border-radius: 15px;}
  .menu_desktop .navbar-nav .nav-item .dropdown-menu {
    left: 83%;
    top: 70%; }
    .menu_desktop .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
      color: #bd2130; }
.menu_mobile #menu_mobile {
  width: 0;
  position: fixed;
  z-index: 3;
  height: 350px;
  top: 0;
  left: 0;
  background-color: #5363d6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 5px; }
  .menu_mobile #menu_mobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    text-transform: uppercase; }
    .menu_mobile #menu_mobile a:hover {
      transform: translate(0.5em, 0);
      transition: all 0.5s ease 0s; }
  .menu_mobile #menu_mobile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: white;
    cursor: pointer; }
.menu_mobile .navbar-nav .dropdown-menu {
  position: absolute; }
.menu_mobile .openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f8f9fa;
  color: black;
  padding: 10px 15px;
  border: none; }
  .menu_mobile .openbtn:hover {
    background-color: #bd2130;
    color: white; }
.menu_mobile img {
  width: 120px; }
.product1 .cap-main {
  padding-top: 30px; }
  .product1 .cap-main h3 {
    font-size: 28px;
    color: #333333;
    text-align: center;
    letter-spacing: 1px;}
   .hr{
    width: 60px;
    height: 4px;
    margin: 0px auto 10px;
    background-color: #ff4081;}
.product1 .line {
  margin-top: 3%; }
  .product1 .line .item {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .product1 .line .item:hover {
      background: rgba(255, 192, 203, 0.5);
      border-radius: 5px;
    box-shadow: 4px 4px 4px 0px #999; }
    .product1 .line .item a:hover {
      text-decoration: none; }
    .product1 .line .item img {
      width: 60px;
      height: 60px; 
      display: inline-flex;}
      .product1 .line .item img:hover {
        transform: translate(0, -1em);
        transition: all 0.4s ease 0s; }
    .product1 .line .item .title {
      margin-top: 5%;
      text-align: center; }
      .product1 .line .item .title p {
        color: black;
        font-size: 16px;
        font-style: normal;
        font-weight: 500; 
        padding-top: 13px;
        margin-bottom: 1rem;
        text-align: center;}
        .product1 .line .item .title p:hover {
          font-weight: 700; }

.product2 {
  background-color: #f9f9f9; }
  .product2 .cap-main {
    padding-top: 30px; }
    .product2 .cap-main h3 {
      font-size: 28px;
      color: #333333;
      text-align: center;}
  .product2 .line {
    margin-top: 3%; }
    .product2 .line .item {
      padding: 1%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center; }
      .product2 .line .item:hover {
        background: rgba(255, 192, 203, 0.5);
        border-radius: 5px;
    box-shadow: 4px 4px 4px 0px #999; }
      .product2 .line .item a:hover {
        text-decoration: none; }
      .product2 .line .item img {
        width: 60px;
        height: 60px; }
        .product2 .line .item img:hover {
          transform: translate(0, -1em);
          transition: all 0.4s ease 0s; }
      .product2 .line .item .title {
        margin-top: 5%;
        text-align: center; }
        .product2 .line .item .title p {
          color: black;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
           padding-top: 13px;
          margin-bottom: 1rem; }
          .product2 .line .item .title p:hover {
            font-weight: 700; }

.product3 .cap-main {
  padding-top: 30px; }
  .product3 .cap-main h3 {
    font-size: 28px;
    color: #333333;
    text-align: center;}
.product3 .line {
  margin-top: 3%; }
  .product3 .line .item {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .product3 .line .item:hover {
      background: rgba(255, 192, 203, 0.5);
      border-radius: 5px;
    box-shadow: 4px 4px 4px 0px #999; }
    .product3 .line .item a:hover {
      text-decoration: none; }
    .product3 .line .item img {
      width: 60px;
      height: 60px; }
      .product3 .line .item img:hover {
        transform: translate(0, -1em);
        transition: all 0.4s ease 0s; }
    .product3 .line .item .title {
      margin-top: 5%;
      text-align: center; }
      .product3 .line .item .title p {
        color: black;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
         padding-top: 13px;
        margin-bottom: 1rem; }
        .product3 .line .item .title p:hover {
          font-weight: 700; }

.product4 {
  background-color: #f9f9f9; }
  .product4 .cap-main {
    padding-top: 30px; }
    .product4 .cap-main h3 {
      font-size: 28px;
      color: #333333;
      text-align: center; }
  .product4 .line {
    margin-top: 3%; }
    .product4 .line .item {
      padding: 1%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center; }
      .product4 .line .item:hover {
        background: rgba(255, 192, 203, 0.5);
        border-radius: 5px;
    box-shadow: 4px 4px 4px 0px #999; }
      .product4 .line .item a:hover {
        text-decoration: none; }
      .product4 .line .item img {
        width: 60px;
        height: 60px; }
        .product4 .line .item img:hover {
          transform: translate(0, -1em);
          transition: all 0.4s ease 0s; }
      .product4 .line .item .title {
        margin-top: 5%;
        text-align: center; }
        .product4 .line .item .title p {
          color: black;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
           padding-top: 13px;
          margin-bottom: 1rem; }
          .product4 .line .item .title p:hover {
            font-weight: 700; }

@media screen and (min-width: 1120px) and (max-width: 1330px) {
  .menu_desktop .navbar-nav .nav-item .dropdown-menu {
    left: 81%;
    top: 70%; } }
@media screen and (min-width: 1040px) and (max-width: 1120px) {
  .menu_desktop .navbar-nav .nav-item .dropdown-menu {
    left: 77%;
    top: 70%; } }
@media screen and (min-width: 910px) and (max-width: 1030px) {
  .menu_desktop .navbar-nav .nav-item .dropdown-menu {
    left: 75%;
    top: 70%; } }
@media screen and (min-width: 770px) and (max-width: 905px) {
  .menu_desktop .navbar-nav .nav-item .dropdown-menu {
    left: 70%;
    top: 70%; } }

@media screen and (max-width: 796px) { 
  .menu_desktop .navbar-nav .nav-item {
    padding: 0 5px;
  }
  .hr{
    margin: 0 auto 20px;
  }
}
@media screen and (max-width: 768px) {
  .menu_desktop .navbar-nav .nav-item .dropdown-menu{
    left: 70%;
  }
}
@media screen and (max-width: 767px) {
  .line .item{
    width: 250px;
    margin: auto;
  }
}
@media screen and (max-width: 499px) {
  .line .item{
    width: 200px;
    margin: auto;
  }
}
@media screen and (max-width: 399px) {
  .line .item{
    width: 150px;
    margin: auto;
  }
}