*{
	font-family: Arial;
}
#khanh:focus{
	height: 95px;
}
#khanh{
	height:0;
}
body#login{
	background-color: #fff !important;
}
button:focus{
	outline: none;
}
a{
	text-decoration: none !important;
}
.page-top-center{
	min-height: 590px;
}
.login{
	width: 75%;
	margin: 50px auto;
	border:2px solid #5363d6;
	border-radius: 5px;
}
.login-label{
	background-color: #5363d6;
    padding: 10px 15px;
    width: 100%;
}
.login-label p{
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	margin-bottom: 0 !important;
}
.login-button{
	margin-bottom: 30px;
}
.login-input > div input{
	width: 80% !important;
}
.login-button button{
	border: 1px solid #5363d6;
    background: #5363d6;
    color: #fff;
    padding: 5px 15px;
    margin: 20px 0;
    border-radius: 5px;
    line-height: 25px;
    display: block;
}
.login-button a{
	cursor:pointer;color:#FF4081
}
/*footer login*/
footer.site-footer{
	z-index: 1000;
    position: relative;
    display: block;
    font-size: 14px;
    background-color: #3e4771;
    color: #ffffff;
    padding: 15px 0;
}
.icon-lienket{
	text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon-lienket a{
	margin-right: 10px;
    display: inline-block;
}
.icon-lienket a img{
	display: block;
    border: 0;
    outline: none;
    text-decoration: none;
    width: 32px;height: 32px;
}
footer.site-footer div p{
	text-align: center;
	margin: 10px 0;
}
footer.site-footer div p b{
	font-size: 18px;
}
footer.site-footer div p span{
	font-size: 15px;
}
footer.site-footer div p a.termsHover{
	cursor: pointer;
	color: #ff4081;
	font-size: 16px;
}
footer.site-footer div p a.termsHover:hover{
	color: #fff;
    font-size: 17px;
}