@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

:-moz-placeholder {
  color: '#333843';
}
::-moz-placeholder {
  color: '#333843';
  opacity: 0.5;
}
:-ms-input-placeholder {
  color: '#333843';
}
::-webkit-input-placeholder {
  color: '#333843';
}
.placeholder {
  color: '#333843';
}
html {
  font-size: 100%;
  height: 100%;
}

.uneditable-input,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none !important;
  color: #282323;
  outline: 0;
  height: 16px;
  padding: 6px 11px !important;
  line-height: 15px;
  font-size: 13px;
  font-weight: normal;
  vertical-align: top;
  background-color: #ffffff;
  min-height: 37px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0px;
  border-radius: 2px;
  border: 1px solid #e5e9ec;
  -webkit-transition: background 0.2s linear 0s, -webkit-box-shadow 0.2s linear 0s;
  transition: background 0.2s linear 0s, -webkit-box-shadow 0.2s linear 0s;
  -o-transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s, -webkit-box-shadow 0.2s linear 0s;
}
input {
  border: 1px solid #cecece;
}
input.no-boarder {
  border: none;
}
input.dark {
  background-color: #e5e9ec;
  border: none;
}
input.error {
  border: 1px solid #f35958;
}
textarea {
  height: auto;
  padding-left: 12px !important;
  padding-top: 10px !important;
}
.select2-container .select2-choice {
  background-image: none;
  border-radius: 2px;
  border: 1px solid #e5e9ec;
  padding: 3px 9px;
  -webkit-transition: border 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s;
  transition: border 0.2s linear 0s;
  height: 35px;
}
.select2-container .select2-choice .select2-arrow {
  background: transparent;
  border-left: 0px;
}
.select2-container .select2-choice .select2-arrow b {
  background: none;
}
.select2-container .select2-choice .select2-arrow b:before {
  font-family: 'Material Icons';
  content: "\E5C5";
  position: relative;
  top: 4px;
  right: 6px;
  font-size: 16px;
}
.select2-container.select2-drop-above .select2-choice {
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.input-group-addon i {
  position: relative;
  top: 1px;
}
.input-group-addon.primary {
  background-color:  #22262e ;
  border: 1px solid  #22262e ;
  color: #ffffff;
}
.input-group-addon.primary .arrow {
  color:  #22262e ;
}
.input-group-addon.success {
  background-color: #0090d9;
  color: #ffffff;
}
.input-group-addon.success .arrow {
  color: #0090d9;
}
.input-group-addon.info {
  background-color: #1f3853;
  color: #ffffff;
}
.input-group-addon.info .arrow {
  color: #1f3853;
}
.input-group-addon.warning {
  background-color: #fbb05e;
  color: #ffffff;
}
.input-group-addon.warning .arrow {
  color: #fbb05e;
}
.input-group-addon.danger {
  background-color: #f35958;
  color: #ffffff;
}
.input-group-addon.danger .arrow {
  color: #f35958;
}
.input-group-addon .arrow {
  position: relative;
  right: -6px;
  color: #d1dade;
  z-index: 100;
}
.input-group-addon .arrow:before {
  font-family: 'FontAwesome';
  content: "\f0da";
  font-size: 23px;
  position: absolute;
  left: 17px;
  top: -2px;
}
.input-group-addon:last-child .arrow:before {
  font-family: 'FontAwesome';
  content: "\f0d9";
  font-size: 23px;
  position: absolute;
  left: -23px;
  top: -2px;
}
.input-group-addon:last-child input {
  border-left: 0px;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-left: 0;
}
/*------------------------------------------------------------------
[7. Portlets]
*/
.grid {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}
.grid.form-grid .grid-body {
  padding-bottom: 0 !important;
}
.grid.closed .grid-body {
  display: none;
  overflow: hidden;
}
.grid.box {
  padding: 0px !important;
}
.grid.box .form-horizontal.form-bordered .control-group {
  margin-left: -10px;
  margin-right: -10px;
}
.grid.box .form-horizontal.form-bordered .control-group:first-child {
  margin-top: -10px;
}
.grid.box .grid-title {
  padding: 8px 10px 2px 10px;
  border-bottom: 1px solid #eee;
  color: #ffffff !important;
  margin-bottom: 0px;
}
.grid.box .grid-title > .actions > .btn > i {
  color: #ffffff !important;
}
.grid.box .grid-title .tools {
  margin-top: 3px;
}
.grid.box .grid-title .tools a {
  background: url(@{base-img-url}/icon/portlet-tray.png) no-repeat;
  width: 23px;
  height: 23px;
}
.grid.box .grid-body {
  background-color: #ffffff;
  padding: 10px;
}
.grid.box.blue {
  border: 1px solid #b4cef8;
  border-top: 0;
}
.grid.box.blue .grid-title {
  background-color: #58acf3;
}
.grid.box.red {
  border: 1px solid #f35958;
  border-top: 0;
}
.grid.box.red .grid-title {
  background-color: #f35958;
}
.grid.box.yellow {
  border: 1px solid #fccb7e;
  border-top: 0;
}
.grid.box.yellow .grid-title {
  background-color: #ffb848;
}
.grid.box.green {
  border: 1px solid  #22262e ;
  border-top: 0;
}
.grid.box.green .grid-title {
  background-color:  #22262e ;
}
.grid.box.purple {
  border: 1px solid #af5cc1;
  border-top: 0;
}
.grid.box.purple .grid-title {
  background-color: #852b99;
}
.grid.box.grey {
  border: 1px solid #9d9c9c;
  border-top: 0;
}
.grid.box.grey .grid-title {
  background-color: #555555;
}
.grid.box.light-grey {
  border: 1px solid #eee;
  border-top: 0;
}
.grid.box.light-grey .grid-title {
  background-color: #aaa;
}
.grid .simple .form-actions {
  margin-left: -20px !important;
  margin-right: -20px !important;
  margin-bottom: -20px !important;
}
.grid .solid .grid-title {
  color: #ffffff !important;
  border-bottom: 1px solid #ffffff;
}
.grid.solid .grid-title {
  margin-bottom: 5px;
  border: 0px;
  padding: 13px 15px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35) !important;
}
.grid.solid .grid-title .tools {
  margin-top: 2px;
  border: 0px;
}
.grid.solid .grid-title .tools a {
  color: #ffffff;
}
.grid.solid .grid-title h4 {
  color: #ffffff;
}
.grid.solid .grid-body {
  color: #ffffff;
  padding: 20px;
}
.grid.solid .grid-body h3 {
  color: #ffffff;
}
.grid.simple {
  padding: 0px !important;
}
.grid.simple .grid-title {
  padding: 14px 15px 7px 15px;
  border-bottom: 1px solid #eee;
  color: #282323 !important;
  background-color: #ffffff;
  margin-bottom: 0px;
  border: 1px solid #dddddd;
  border-bottom: 0px;
}
.grid.simple .grid-title > .actions > .btn > i {
  color: #ffffff !important;
}
.grid.simple .grid-title .tools {
  margin-top: 0px;
  position: relative;
}
.grid.simple .grid-title.no-border {
  border: 0px;
  border-bottom: 0px;
}
.grid.simple .form-actions {
  margin-right: -26px !important;
  margin-left: -26px !important;
  margin-bottom: -26px !important;
}
.grid.simple.transparent .grid-body {
  background-color: transparent !important;
  border: none;
}
.grid.simple.transparent .grid-title {
  border: none;
  border-bottom: 1px solid #D7DBE0;
  background-color: transparent;
}
.grid.simple .grid-body {
  background-color: #ffffff;
  padding: 26px;
  border: 1px solid #dddddd;
  color: #6f7b8a;
}
.grid.simple .grid-body.no-padding {
  padding: 0px;
}
.grid.simple .grid-body .wrap-body {
  padding: 0 26px;
  padding-top: 10px;
}
.grid.simple .grid-body.no-border {
  border: 0px;
  padding-top: 1px;
}
.grid.simple .grid-body h4 {
  color: #282323;
}
.grid.simple .grid-body h3 {
  color: #282323;
}
.grid.simple .grid-body.invoice-body {
  padding: 30px;
}
.grid.simple .grid-body.invoice-body .invoice-logo {
  margin-bottom: 18px;
}
.grid.simple.vertical.green {
  border-left: 4px solid  #22262e ;
  border-top: none !important;
}
.grid.simple.vertical.red {
  border-left: 4px solid #f35958;
  border-top: none !important;
}
.grid.simple.vertical.purple {
  border-left: 4px solid #736086;
  border-top: none !important;
}
.grid.simple.vertical.blue {
  border-left: 4px solid #0090d9;
  border-top: none !important;
}
.grid.simple.horizontal.red .grid-title {
  border-top: 4px solid #f35958;
}
.grid.simple.horizontal.yellow .grid-title {
  border-top: 4px solid #ffb848;
}
.grid.simple.horizontal.green .grid-title {
  border-top: 4px solid  #22262e ;
}
.grid.simple.horizontal.purple .grid-title {
  border-top: 4px solid #852b99;
}
.grid.simple.horizontal.grey .grid-title {
  border-top: 4px solid #555555;
}
.grid.simple.horizontal.light-grey .grid-title {
  border-top: 4px solid #aaa;
}
.grid:after,
.grid:before {
  display: table;
}
.grid-title {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.table > thead > tr > th {
  border-bottom: 0px;
  font-size: 12px;
  letter-spacing: 0.07em;
}
.table th {
  border-top: 1px solid #e8edf1;
  padding: 10px 12px;
  font-size: 12px;
  text-transform: uppercase;
}
.table th.medium-cell {
  width: 112px;
}
.table th.big-cell {
  width: 200px;
}
.table tr.row_selected td {
  background-color: #ffffcc !important;
}
.table tr.row_selected .progress {
  background-color: #ffffff;
}
.table td {
  border-top: 1px solid #e8edf1;
  vertical-align: top;
  padding: 11px 12px !important;
  color: #576475;
  font-size: 13px;
}
.table td.no-border {
  border: none;
}
.table td:first-child {
  border-radius: 2px;
}
.table td:last-child {
  border-radius: 2px;
}
.table td .progress {
  margin-bottom: 0px;
}
.table td .muted {
  color: #95989a;
}
.table td.clickable {
  cursor: pointer;
}
.table .checkbox {
  margin-left: 3px;
  height: 19px;
}
.table .star {
  margin-left: 3px;
}
th {
  text-align: left;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px;
}
.table th input[type="radio"],
input[type="checkbox"],
.table td input[type="radio"],
input[type="checkbox"] {
  margin-top: -2px;
}
.table td.small-cell,
.table th.small-cell {
  width: 40px;
}
.table-fixed-layout {
  table-layout: fixed;
}
.table-fixed-layout td {
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 9px;
}
.table-condensed th .checkbox {
  margin-left: 4px;
}
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e8edf1;
}
.table-striped tbody > tr:nth-child(2n+1) > td,
.table-striped tbody > tr:nth-child(2n+1) > th {
  background-color: #ecf0f2;
  border: none;
}
.table-striped tbody > tr > td {
  border: 0px;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #e2e8eb;
}
.table-hover tbody tr.row_selected:hover > td {
  background-color: #fef8ae !important;
}
.table-hover tbody tr:hover > td .progress {
  background-color: #ffffff;
}
.table-condensed th,
.table-condensed td {
  padding: 10px 5px;
}
.table-tools-actions {
  margin: 0px 5px;
}
.inner-table td {
  background-color: transparent !important;
}
.table-bordered {
  border-color: #e8edf1 !important;
}
.table-bordered th {
  background-color: #ecf0f2;
  border: 0 !important;
}
.table-bordered td {
  border: 1px solid #e8edf1 !important;
}
.table-bordered td:first-child {
  border-radius: 0px;
}
.table-bordered td:last-child {
  border-radius: 0px;
}
/*------------------------------------------------------------------
[14. Datatables]
*/
.dataTables_wrapper .pagination ul {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 12px;
  padding: 0;
}
.dataTables_wrapper .pagination ul > li {
  display: inline-block;
  padding-left: 0px;
}
.dataTables_wrapper .pagination ul > li > a {
  padding: 5px 10px;
}
.dataTables_wrapper .pagination ul > li.next > a:hover {
  background-color: #ffffff;
  color: #000;
}
.dataTables_wrapper .pagination ul > li.next.disabled > a:hover {
  color: #C2C6CB;
  opacity: 0.65;
  background-color: #ffffff;
}
.dataTables_wrapper .pagination ul > li.prev > a:hover {
  background-color: #ffffff;
  color: #000;
}
.dataTables_wrapper .pagination ul > li.prev.disabled > a:hover {
  color: #C2C6CB;
  opacity: 0.65;
  background-color: #ffffff;
}
.dataTables_wrapper .pagination ul > li:last-child > a,
.dataTables_wrapper .pagination ul > li:last-child > span {
  margin-left: -8px;
}
.dataTables_wrapper .pagination ul > li > a,
.pagination ul > li > span {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
  color: #6F7B8A;
}
.dataTables_wrapper .pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #C2C6CB !important;
  opacity: 0.65 !important;
  background-color: #ffffff !important;
}
.dataTables_wrapper .pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #F3F6F9;
  font-weight: 600;
}
.dataTables_wrapper .pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #e8edf3;
}


  
#ToolTables_example_0{
 display: none !important;
}

.row {
  width:100%;
  margin-bottom:15px;
}
