*{
	font-family: Arial;
}

button:focus{
	outline: none;
}
/*header*/
.header{
	background-color: #fff;
}
.header .logo{
	float: left;
	margin-left: 15px;
}
.header .header-ul{
	text-align: right;
}
.header-ul ul{
	list-style-type: none;
	display: inline-flex;
}
ul li a{
	color: black;
	text-decoration: none;
}
.header-ul ul li{
	margin: 30px 20px;
    font-size: 16px;
    font-weight: bold;
}
.header .header-ul ul li a.ul-kriyo{
	background: #ff4081 !important;
    padding: 0.3em 1em !important;
    border-radius: 0.25em;
    color: #fff !important;
    border: 2px solid #FF4081;
}
/*header login*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}

/*menu1*/
.menu-1 h2{
	font-weight: 100;
	font-size: 26px;
	letter-spacing: 1px;
}

.menu-1 .hr{
	width: 60px;
    height: 4px;
    margin: 0px auto 10px;
    background-color: #ff4081;
}
p {
	padding-top: 13px;
    margin-bottom: 1rem;
    font-size: 16px;
}
.menu-1 .all{
	display: inline-flex;
   margin: 0 140px;
}
.all .image{
	padding-top: 20px;
	cursor: pointer; text-align: center;
	width: 250px;
	height: 150px;
}
.all .image a img{
	margin-left: 0px;margin-right: 0px;height: 60px;width: 60px;
}
.all .image a{
	text-decoration: none;color: black;
}
.all .image:hover{
	background: #FFF0F5;
}
.all .image:hover p{
	font-weight: bold;
}

/*menu2*/
.menu-2{
	background-color: #f9f9f9;
}
.menu-2 h2{
	font-weight: 100;
	font-size: 26px;
	letter-spacing: 1px;
	padding-top: 30px;
}

.menu-2 .hr{
	width: 60px;
    height: 4px;
    margin: 0px auto 10px;
    background-color: #ff4081;
}
.menu-2 .all{
	display: inline-flex;
   margin: 0 140px;
}
/*men4*/
.menu-4{
	background-color: #f9f9f9;
}
.menu-4 h2{
	font-weight: 100;
	font-size: 26px;
	letter-spacing: 1px;
	padding-top: 30px;
}

.menu-4 .hr{
	width: 60px;
    height: 4px;
    margin: 0px auto 10px;
    background-color: #ff4081;
}

@media only screen and (max-width: 990px){ 
	.menu-1 .all{
		display: block;
		margin: auto;
	}
	.menu-2 .all{
		display: block;
		margin: auto;
	}


}