.td1{
	background: #ad92ed;
}
table{
	width: 100%;
}
table th{
	text-align: center;
	padding: 15px 0;
}
.active3{
	color: green;
}
.ul-td li.active-1 a {
    background: green;
}
.ul-td li.active-1 a:after {
    border-left: 30px solid green;
}
.button{
	margin: 20px 0;
}
.textera{
	margin: 15px 0;
}
.textera textarea{
	width: 100%;
	margin: 10px 0;
}
.textera1 textarea{
	width: 100%;
	margin: 10px 0;
}
.textera-img a img{
	width: 100px;height: 100px;
	text-align: center;
}